a {
  color: white !important;
}

.nav-top {
  background-color: white;
  color: #42cb65 !important;
  border-bottom: 10px solid #42cb65 !important;
  font-family: 'Century Schoolbook';
  height: 60px;
}

#login-btn {
  color: white !important;
}

.logo {
  max-height: 40px;
}

body {
  height: 100%;
}

#changable {
  width: 100%;
  height: 60%;
}

.page {
  margin-top: -2%;
  background-image: url(/Content/images/8135396351_3a190384a7_h.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
}

.container {
  height: 100%;
  min-width: 100% !important;
  background-color: white;
  box-shadow: 0 0 4px 1px white;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  /*min-width: 500px;*/
  min-height: 2000px;
}

.wrap {
  font-size: 34px;
  font-family: monospace;
  position: relative;
  width: 180px;
  height: 180px;
  margin: 10px auto 15px auto;
}

.clicker {
  background-color: white;
  outline: none;
  font-weight: 600;
  position: absolute;
  cursor: pointer;
  padding: 0;
  border: none;
  height: 164px;
  width: 164px;
  left: 8px;
  top: 8px;
  border-radius: 100px;
  z-index: 2;
  &:active {
    transform: translate(0, 1px);
    height: 163px;
    box-shadow: 0px 1px 0 0 #bebebe inset;
  }
}

.circle {
  position: relative;
  border-radius: 40px;
  width: 180px;
  height: 180px;
  z-index: 1;
}

.clicker {
  &:hover + .circle, &:active + .circle {
    animation: rotator linear .8s infinite;
  }
}

@keyframes rotator {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.try-text {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 50px;
  margin-top: 2%;
  margin-bottom: 3%;
}

.angled {
  background-image: linear-gradient(45deg, white 0%, white 30%, #18e0c6 30%, #f9fd6f 70%, white 70%, white 100%);
}

.act {
  color: #009688;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  height: 49%;
  text-align: center;
  font-family: cursive;
  background-color: white;
}

#footer {
  color: #18e0c6;
  font-size: 17px;
  background-color: white;
  border-top: 10px solid #18e0c6 !important;
  font-family: cursive;
  height: 4%;
  width: 100%;
  margin-bottom: 0px;
  position: absolute;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,800,400);

@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

.ui {
  /*margin-top: -1%;*/
  width: 100%;
  height: 94%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 25px #3a9fc4;
  flex-direction: row;
  display: flex;
  overflow: hidden;
  .search {
    input {
      outline: none;
      border: none;
      background: none;
      &[type=submit] {
        font-family: 'FontAwesome';
        position: absolute;
        right: 5%;
        top: 27px;
        color: white;
      }
      &[type=search] {
        background-color: white;
        border-radius: 3px;
        padding: 10px;
        width: 90%;
        box-sizing: border-box;
        margin: 15px 10px;
        color: #fff;
      }
    }
    position: relative;
  }
  .left-menu {
    width: 20%;
    box-sizing: content-box;
    padding-right: 1%;
    height: 100%;
    background: #EBEDED;
  }
}

.left-menu {
  height: 95%;
  overflow: scroll;
  min-width: 200px;
}

.ui {
  .chat {
    width: 80%;
    background: #f1f5f8;
    .info {
      vertical-align: 40px;
      width: calc(100% - 65px - 50px);
      .name {
        font-weight: 600;
        color: #434753;
        height: 100%;
      }
      .count {
        color: #6d738d;
      }
    }
    i.fa {
      color: #d6d9de;
      vertical-align: 25px;
    }
  }
  .avatar > img {
    border-radius: 50%;
  }
  .list-friends {
    img {
      border-radius: 50%;
      margin: 5px;
    }
    list-style: none;
    font-size: 13px;
    overflow: scroll;
    > li {
      display: flex;
      margin: 0 0 10px 10px;
      user-select: none;
    }
    .info {
      flex: 1;
    }
    .user {
      color: #009688;
      margin-top: 12px;
    }
    .status {
      position: relative;
      margin-left: 14px;
      color: #a8adb3;
    }
    .off:after, .on:after {
      content: '';
      left: -12px;
      top: 8px;
      position: absolute;
      height: 7px;
      width: 7px;
      border-radius: 50%;
    }
    .off:after {
      background: #fd8064;
    }
    .on:after {
      background: #62bf6e;
    }
  }
  .top {
    height: 70px;
    border-bottom: 2px solid #00aa9a !important;
  }
  .messages {
    overflow: scroll;
    height: 400px;
    list-style: none;
    border: 2px solid #fff;
    border-left: none;
    border-right: none;
    background-color: white;
    li {
      margin: 10px;
      transition: all .5s;
      &:after {
        content: '';
        clear: both;
        display: block;
      }
      .head {
        margin-top: 50px;
        font-size: 13px;
      }
      .name {
        font-weight: 600;
        position: relative;
        position: relative;
        font-size: 20px;
        margin-right: 20%;
      }
      .time {
        color: #b7bccf;
        margin-right: 10px;
      }
      .message {
        &:after {
          content: '';
          position: relative;
          height: 8px;
          float: right;
          width: 8px;
          border-radius: 50%;
          top: 6px;
          margin-top: 5px;
          margin-right: 50px;
        }
        margin-top: 20px;
        color: #fff;
        font-size: 20px;
        border-radius: 3px;
        padding: 20px;
        line-height: 25px;
        min-width: 200px;
        max-width: 500px;
        word-wrap: break-word;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 0px;
          height: 0px;
          top: -12px;
          border-bottom: 12px solid #62bf6e;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
        }
      }
      &.friend-with-a-SVAGina {
        .name {
          margin-left: 20px;
          &:after {
            background-color: #62bf6e;
            left: -20px;
            top: 6px;
          }
        }
        .message {
          background-color: #62bf6e;
          float: left;
          &:before {
            left: 16px;
            border-bottom-color: #62bf6e;
          }
        }
      }
      &.i {
        .head {
          text-align: right;
        }
        .name {
          margin-right: 20px;
          &:after {
            background-color: #7bc4ef;
            right: -20px;
            top: 6px;
          }
        }
        .message {
          background-color: #7bc4ef;
          float: right;
          &:before {
            right: 16px;
            border-bottom-color: #7bc4ef;
          }
        }
      }
    }
  }
  .write-form {
    width: 80%;
    height: 150px;
    textarea {
      height: 15%;
      margin: 17px 5%;
      margin-bottom: 0px !important;
      width: 90%;
      outline: none;
      position: absolute;
      border: none;
      &:before {
        content: '';
        clear: both;
      }
    }
  }
  .avatar {
    > img {
      border-color: #62bf6e;
      margin: 10px;
      margin-right: 5px;
    }
    display: inline-block;
  }
  .send {
    color: #7ac5ef;
    text-transform: uppercase;
    font-weight: 700;
    float: right;
    margin-right: 5%;
    cursor: pointer;
    user-select: none;
  }
  i {
    &.fa-file-o {
      margin-left: 15px;
    }
    &.fa-picture-o {
      margin-left: 5%;
    }
  }
  .chat {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}

#ang-mid {
  min-width: 100%;
  margin: -5px !important;
  min-height: 100%;
}

.form-login-heading {
  margin-top: 8%;
  font-family: 'Century Schoolbook';
  color: #009688;
  margin-bottom: 8%;
}

.form-login {
  width: 70%;
  margin-left: 15%;
}

#search-chat-left {
  width: 75%;
  margin-left: 10%;
}

#Chats {
  height: auto;
}

.left-chat-form {
  border: 2px solid #00aa9a !important;
  border-radius: 2px;
  margin-left: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-color: white;
  .form-title {
    color: #009688;
  }
  .mark {
    font-size: 0.8em;
    font-style: italic;
  }
}

#chatName {
  margin-bottom: -5px;
}

.friend-in-chat {
  border-bottom: 2px solid #00aa9a !important;
  color: #00aa9a !important;
}

.img-circle {
  border-radius: 50%;
  float: left;
  margin-left: 3%;
  margin-top: 1%;
}

.app-modal-window .modal-dialog {
  width: 800px;
}
.busyPromise{
    height:100%;
    min-height:134px;
    overflow:hidden;
    .cg-busy.cg-busy-animation{
       margin-top:-67px;
       width:129px;
       height:134px;      
}

}
.cg-busy.cg-busy-animation {
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-left:-65px;
    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 101;
        background: url(../images/loading.gif) no-repeat center center;
        width: 129px;
        height: 134px;
        opacity: 0.8;     
    }
    .cg-busy-default-sign {
        display: none !important;
    }    
}