<div class="col-md-3 chat-scope">
    <div class="row">
        <div class="btn-group col-md-12 chatting-app-menu" uib-dropdown is-open="status.isopen">
            <button id="chatting-app-menu-btn" type="button" class="btn btn-primary col-md-12" uib-dropdown-toggle ng-disabled="disabled">
                Chatting App <span class="caret"></span>
            </button>
            <ul class="dropdown-menu col-md-12" uib-dropdown-menu role="menu" aria-labelledby="chatting-app-menu-btn" data-ng-controller="ModalController as $ctrl">
                <li class="menu-item">
                    <button type="button" class="btn btn-info full-width"
                            ng-click="$ctrl.openJoinChatModal()">
                        Join chat
                    </button>
                </li>
                <li class="menu-item">
                    <button type="button" class="btn btn-info full-width"
                            ng-click="$ctrl.openCreateChatModal()">
                        Create chat
                    </button>
                </li>
                <li class="menu-item">
                    <button id="chats-btn" class="btn btn-info full-width"
                            ng-click="$ctrl.openProfileModal(currentUser)">
                        My Profile
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row chat-list">
        <md-list>
            <md-list-item class="md-3-line" data-ng-repeat="chat in currentUser.chats" data-ng-click="selectChat(chat)">
                <img ng-src="{{chat.img}}" class="md-avatar image-list-item" alt="chat.title" />
                <div class="md-list-item-text">
                    <h3 class="chat-list-item-title"> {{ chat.title }} </h3>
                    <p ng-if="chat.messages[0].text" class="chat-list-item-text" md-truncate>«{{chat.messages[chat.messages.length - 1].text}}»</p>
                </div>
                <div class="last-message-time">{{chat.messages[0].createDate | date: short}}</div>
            </md-list-item>
        </md-list>
    </div>
</div>
<div data-ng-controller="ChatController" class="col-md-9 chat-scope">
    <div class="chat-header">
        <md-fab-toolbar ng-if="selectedChat.id" md-open="isOpen"
                        md-direction="left">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-primary">
                    <span class="menu-icon glyphicon glyphicon-menu-hamburger"></span>
                </md-button>
            </md-fab-trigger>

            <md-toolbar>
                <md-fab-actions class="md-toolbar-tools">
                    <md-button aria-label="menu" class="md-fab md-primary">
                        <span class="glyphicon glyphicon-remove"></span>
                    </md-button>
                    <md-button ng-if="selectedChat.authorId === currentUser.id" ng-click="deleteChat(selectedChat.id)">
                        Delete chat
                    </md-button>
                    <md-button ng-click="quitChat(selectedChat)">
                        Quit chat
                    </md-button>
                    <md-button data-ng-controller="ModalController as $ctrl" ng-click="$ctrl.openEditChatModal(selectedChat)">
                        Edit chat
                    </md-button>
                </md-fab-actions>
            </md-toolbar>
        </md-fab-toolbar>
        <div ng-if="selectedChat.id">
            <div class="col-md-2">
                <img data-ng-controller="ModalController as $ctrl" ng-click="$ctrl.openEditChatModal(selectedChat)"
                     class="img-circle chat-image-header" ng-src="{{selectedChat.img}}" alt="selectedChat.title">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>
                            <b>{{selectedChat.title}}</b>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center members-text">
                        {{selectedChat.users.length}} members
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="message-list" scroll-bottom="selectedChat.messages">
        <ul>
            <li data-ng-repeat="message in selectedChat.messages track by message.id">
                <md-card class="col-md-7"
                         ng-class="{'col-md-offset-5': message.author.id === currentUser.id}">
                    <md-card-title class="row" ng-click="$ctrl.openProfileModal(message.author)" data-ng-controller="ModalController as $ctrl">
                        <md-card-title-media>
                            <img class="md-avatar image-list-item" ng-src="{{message.author.img}}"
                                 alt="message.author.userName" />
                        </md-card-title-media>
                        <md-card-title-text md-truncate class="message-title">
                            <span class="md-headline">{{message.author.userName}}</span>
                            <span class="md-subhead">{{message.createDate | date : 'short'}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content class="row">
                        <textarea ng-model="message.text"
                                  ng-readonly="!message.isEditable"
                                  rows="3"
                                  class="message-text col-md-12"
                                  md-select-on-focus></textarea>
                        <md-card-actions ng-if="currentUser.id === message.author.id">
                            <md-button ng-if="message.isEditable" class="md-raised message-action-btn"
                                       ng-click="message.isEditable = false; message.text = message.textBefore">Cancel</md-button>
                            <md-button ng-if="message.isEditable"
                                       class="md-raised md-primary message-action-btn"
                                       ng-click="message.isEditable = false; updateMessage(message)">Ok</md-button>
                            <md-button id="delete" class="md-icon-button pull-right message-action-btn" aria-label="Delete Message">
                                <img class="message-action-img"
                                     ng-click="deleteMessage(message)"
                                     src="../../Content/images/delete.png" />
                            </md-button>
                            <md-button class="md-icon-button pull-right message-action-btn" aria-label="Edit Message">
                                <img class="message-action-img"
                                     ng-if="!message.isEditable"
                                     ng-init="message.isEditable = false"
                                     ng-click="message.isEditable = !message.isEditable; message.textBefore = message.text;"
                                     src="../../Content/images/edit.jpg" />
                            </md-button>
                        </md-card-actions>
                    </md-card-content>
                </md-card>
            </li>
        </ul>
    </div>

    <div class="input-box">
        <div>
            <div class="row input-row">
                <div class="col-md-2" ng-click="$ctrl.openProfileModal(currentUser)" data-ng-controller="ModalController as $ctrl">
                    <img class="img-circle input-box-img"
                         ng-src="{{currentUser.img}}" />
                </div>
                <div class="col-md-8">
                    <div class="form-group label-static">
                        <textarea ng-keypress="onKeyPress($event)"
                                  ng-readonly="!selectedChat.id"
                                  class="form-control input-box-text"
                                  placeholder="Write a message"
                                  rows="4"
                                  ng-model="messageText"></textarea>
                    </div>
                </div>
                <div ng-if="selectedChat.id" class="col-md-2 input-box-btn">
                    <button class="btn btn-raised btn-success btn-lg"
                            ng-click="sendMessage(messageText)">
                        Send
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
