<div class="col-md-3 col-sm-4 chat-scope chat-scope-height">
    <div class="row chatting-app-menu-parent">
        <div class="btn-group col-md-12 chatting-app-menu" uib-dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary chatting-app-menu-btn col-md-12" uib-dropdown-toggle ng-disabled="disabled">
                Chatting App <span class="caret"></span>
            </button>
            <ul class="dropdown-menu col-md-12 chatting-app-menu-dropdown" uib-dropdown-menu role="menu" aria-labelledby="chatting-app-menu-btn" data-ng-controller="ModalController as $ctrl">
                <li class="menu-item">
                    <button type="button" class="btn btn-info full-width"
                            ng-click="$ctrl.openJoinChatModal()">
                        Join chat
                    </button>
                </li>
                <li class="menu-item">
                    <button type="button" class="btn btn-info full-width"
                            ng-click="$ctrl.openCreateChatModal()">
                        Create chat
                    </button>
                </li>
                <li class="menu-item">
                    <button class="btn btn-info full-width"
                            ng-click="$ctrl.openProfileModal(currentUser)">
                        My Profile
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row chat-list">
        <md-list>
            <md-list-item class="md-3-line" data-ng-repeat="chat in currentUser.chats" data-ng-click="selectChat(chat)">
                <img ng-src="{{chat.img}}" class="md-avatar image-list-item" alt="chat.title" />
                <div class="md-list-item-text">
                    <h3 class="chat-list-item-title"> {{ chat.title }} </h3>
                    <p ng-if="chat.messages[0].text" class="chat-list-item-text" md-truncate>«{{chat.messages[chat.messages.length - 1].text}}»</p>
                </div>
                <div class="last-message-time">{{chat.messages[0].createDate | date: short}}</div>
            </md-list-item>
        </md-list>
    </div>
</div>
<div cg-busy="chatBusyPromise" data-ng-controller="ChatController" class="col-md-9 col-sm-8 chat-scope">
    <div class="chat-header">
        <md-fab-speed-dial ng-if="selectedChat.id"
                           md-open="open" md-direction="left"
                           class="md-scale md-fab-top-right md-hover-full chat-info-menu">
            <md-fab-trigger>
                <md-button aria-label="Chat Menu" class="md-fab chat-info-menu-btn">
                    <span class="menu-icon glyphicon glyphicon-menu-hamburger"></span>
                    <md-tooltip md-direction="bot"> Click for options </md-tooltip>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button ng-click="setFavorite(!isFavorite)"
                           aria-label="Favorite Filter"
                           class="md-fab md-raised md-mini">
                    <img class="filter-favorite-img"
                         alt="Favorite Filter Off"
                         ng-if="isFavorite"
                         src="../../Content/images/favorite-off.png" />
                    <img class="filter-favorite-img"
                         alt="Favorite Filter On"
                         ng-if="!isFavorite"
                         src="../../Content/images/favorite-on.png" />
                    <md-tooltip ng-if="isFavorite" md-direction="bot"> Show all messages </md-tooltip>
                    <md-tooltip ng-if="!isFavorite" md-direction="bot"> Show only favorite messages </md-tooltip>
                </md-button>
                <md-button aria-label="Edit Chat"
                           data-ng-controller="ModalController as $ctrl" ng-click="$ctrl.openAddUserModal(selectedChat)"
                           class="md-fab md-raised md-mini">
                    <md-tooltip md-direction="bot"> Add user </md-tooltip>
                    <span class="glyphicon glyphicon-plus"></span>
                </md-button>
                <md-button aria-label="Edit Chat"
                           data-ng-controller="ModalController as $ctrl" ng-click="$ctrl.openEditChatModal(selectedChat)"
                           class="md-fab md-raised md-mini">
                    <md-tooltip md-direction="bot"> Edit chat </md-tooltip>
                    <span class="glyphicon glyphicon-pencil"></span>
                </md-button>
                <md-button aria-label="Quit Chat"
                           ng-click="quitChat(selectedChat)" class="md-fab md-raised md-mini">
                    <md-tooltip md-direction="bot"> Quit chat </md-tooltip>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </md-button>
                <md-button aria-label="Delete Chat"
                           ng-if="selectedChat.authorId === currentUser.id" ng-click="deleteChat(selectedChat.id)"
                           class="md-fab md-raised md-mini">
                    <md-tooltip md-direction="bot"> Delete chat </md-tooltip>
                    <span class="glyphicon glyphicon-remove"></span>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
        <div ng-if="selectedChat.id" class="chat-info">
            <div class="col-md-2 col-xs-3 chat-info-img">
                <img data-ng-controller="ModalController as $ctrl" ng-click="$ctrl.openEditChatModal(selectedChat)"
                     class="img-circle chat-image-header" ng-src="{{selectedChat.img}}" alt="selectedChat.title">
            </div>
            <div class="col-md-8 col-xs-7 chat-info-title">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 md-truncate> <b>{{selectedChat.title}}</b> </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center members-text">
                        {{selectedChat.users.length}} members
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="message-list" scroll-bottom="selectedChat.messages">
        <ul>
            <li ng-if="message.isFavorite === isFavorite || !isFavorite" data-ng-repeat="message in selectedChat.messages track by message.id">
                <md-card class="col-md-7 col-xs-8"
                         ng-class="{'col-md-offset-5 col-xs-offset-4': message.author.id === currentUser.id}">
                    <md-card-title class="row" ng-click="$ctrl.openProfileModal(message.author)" data-ng-controller="ModalController as $ctrl">
                        <md-card-title-media class="col-xs-2 col-lg-2">
                            <img class="md-avatar image-list-item" ng-src="{{message.author.img}}"
                                 alt="message.author.userName" />
                        </md-card-title-media>
                        <md-card-title-text class="col-xs-8 col-lg-9 message-title" md-truncate>
                            <span class="md-headline">{{message.author.userName}}</span>
                            <span class="md-subhead">{{message.createDate | date : 'short'}}</span>
                        </md-card-title-text>
                        <div class="col-xs-2 col-lg-1 message-actions">
                            <md-button class="md-icon-button row favorite-btn" ng-click="favorite(message); $event.stopPropagation()" aria-label="Favorite Message">
                                <img class="message-action-img"
                                     alt="{{message.author.userName}}"
                                     ng-if="message.isFavorite"
                                     src="../../Content/images/favorite-on.png" />
                                <img class="message-action-img"
                                     alt="{{message.author.userName}}"
                                     ng-if="!message.isFavorite"
                                     src="../../Content/images/favorite-off.png" />
                                <md-tooltip md-direction="bot"> Favorite Message </md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button row translate-btn" ng-click="translate(message); $event.stopPropagation()" aria-label="Translate Message">
                                <img class="message-action-img"
                                     alt="{{message.author.userName}}"
                                     src="../../Content/images/translate.png" />
                                <md-tooltip md-direction="bot"> Translate Message </md-tooltip>
                            </md-button>
                        </div>
                    </md-card-title>
                    <md-card-content class="row message-card-content">
                        <md-input-container class="md-block message-text">
                            <textarea aria-label="Message Text" ng-readonly="!message.isEditable" md-select-on-focus ng-model="message.text"></textarea>
                        </md-input-container>
                        <md-card-actions ng-if="currentUser.id === message.author.id">
                            <md-button ng-if="message.isEditable" class="md-raised message-action-btn"
                                       ng-click="message.isEditable = false; message.text = message.textBefore">Cancel</md-button>
                            <md-button ng-if="message.isEditable"
                                       class="md-raised md-primary message-action-btn"
                                       ng-click="updateMessage(message)">Ok</md-button>
                            <md-button class="md-icon-button pull-right message-action-btn" aria-label="Delete Message">
                                <img class="message-action-img"
                                     ng-click="deleteMessage(message)"
                                     src="../../Content/images/delete.png" />
                            </md-button>
                            <md-button class="md-icon-button pull-right message-action-btn" aria-label="Edit Message">
                                <img class="message-action-img"
                                     ng-if="!message.isEditable"
                                     ng-init="message.isEditable = false"
                                     ng-click="message.isEditable = !message.isEditable; message.textBefore = message.text;"
                                     src="../../Content/images/edit.jpg" />
                            </md-button>
                        </md-card-actions>

                        <md-tabs md-dynamic-height ng-if="message.translations" class="translation-tabs">
                            <md-tab>
                                <md-tab-label>
                                    <img class="message-action-img"
                                         src="../../Content/images/google.png" />
                                    <span class="translations-source">Google</span>
                                </md-tab-label>
                                <md-tab-body>
                                    <md-input-container class="md-block message-text">
                                        <textarea readonly aria-label="Google Translate" md-select-on-focus ng-model="message.translations['google']"></textarea>
                                    </md-input-container>
                                </md-tab-body>
                            </md-tab>
                            <md-tab>
                                <md-tab-label>
                                    <img class="message-action-img"
                                         src="../../Content/images/bing.png" />
                                    <span class="translations-source">Bing</span>
                                </md-tab-label>
                                <md-tab-body>
                                    <md-input-container class="md-block message-text">
                                        <textarea readonly aria-label="Bing Translate" md-select-on-focus ng-model="message.translations['bing']"></textarea>
                                    </md-input-container>
                                </md-tab-body>
                            </md-tab>
                            <md-tab>
                                <md-tab-label>
                                    <img class="message-action-img"
                                         src="../../Content/images/yandex.png" />
                                    <span class="translations-source">Yandex</span>
                                </md-tab-label>
                                <md-tab-body>
                                    <md-input-container class="md-block message-text">
                                        <textarea readonly aria-label="Yandex Translate" md-select-on-focus ng-model="message.translations['yandex']"></textarea>
                                    </md-input-container>
                                </md-tab-body>
                            </md-tab>
                        </md-tabs>
                    </md-card-content>
                </md-card>
            </li>
        </ul>
    </div>

    <div class="input-box">
        <div>
            <div class="row input-row">
                <div class="col-md-2 col-xs-2 input-box-parent-img" ng-click="$ctrl.openProfileModal(currentUser)" data-ng-controller="ModalController as $ctrl">
                    <img class="img-circle input-box-img"
                         ng-src="{{currentUser.img}}" />
                </div>
                <div class="col-md-8 col-xs-7">
                    <div class="form-group label-static">
                        <textarea ng-keypress="onKeyPress($event)"
                                  ng-readonly="!selectedChat.id"
                                  class="form-control input-box-text"
                                  placeholder="Write a message"
                                  rows="4"
                                  ng-model="messageText"></textarea>
                    </div>
                </div>
                <div ng-if="selectedChat.id" class="col-md-2 col-xs-3 input-box-btn">
                    <button class="btn btn-raised btn-success btn-lg"
                            ng-click="sendMessage(messageText)">
                        Send
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
