<form name="myForm">
    <div class="modal-header">
        <h2 class="modal-title" align="center">Edit chat</h2>
    </div>
    <table class="edit-chat-table">
        <tr>
            <td>
                <div>
                    <blockquote  ng-class="{'dark-grey-border':isReadonly, 'blue-border': !isReadonly }">
                        <img ngf-thumbnail="currentChat.img" class="edit-chat-image" />

                        <input class="edit-chat-image-picker"
                               ng-if="!isReadonly" type="file" ngf-select ng-model="selectedFile"
                               ng-change="processImage(selectedFile)"
                               ngf-pattern="'image/*'"
                               ngf-accept="'image/*'" ngf-max-size="20MB" />
                    </blockquote>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <blockquote class="dark-grey-border">
                    <h3>
                        Author: <b class="edit-chat-text-identation">{{getAuthor().userName}}</b>
                    </h3>
                </blockquote>
            </td>
        </tr>
        <tr>
            <td>
                <blockquote class="dark-grey-border">
                    <div>
                        <h3>
                            Users: <b class="edit-chat-text-identation">{{currentChat.users.length}}</b>
                        </h3>
                    </div>
                </blockquote>
            </td>
        </tr>
        <tr>
            <td>
                <blockquote class="dark-grey-border">
                    <div>
                        <h3>Creatinon date:</h3>
                    </div>
                    <div class="edit-chat-text-identation">{{currentChat.createDate | date:'short'}}</div>
                </blockquote>
            </td>
        </tr>
    </table>

    <div align="center">
        <h3>Title</h3>
        <input type="text" class="form-control modal-input-identation" required
               ng-class="{'dark-grey':isReadonly, 'blue': !isReadonly }"
               ng-readonly="isReadonly"
               ng-model="currentChat.title"/>
        <div class="text-danger"
             ng-show="myForm.title.$invalid">
            Required
        </div>

        <h3>Users</h3>
        <div class="form-group">
            <select class="form-control modal-input-identation" ng-model="selectedUser"
                    ng-class="{'dark-grey':isReadonly, 'blue': !isReadonly }"
                    ng-disabled="isReadonly"
                    ng-options="user.userName for user in currentChat.users"></select>
        </div>

        <button ng-if="currentUser.id === currentChat.authorId && selectedUser"
                class="btn btn-raised btn-success edit-chat-delete-user-btn"
                type="button"
                ng-click="quitChat(selectedUser)">
            Delete selected user
        </button>
    </div>

    <div class="modal-footer edit-chat-footer">
        <button class="btn btn-raised btn-success pull-left"
                type="button"
                ng-click="isReadonly = !isReadonly">
            Edit
        </button>
        <button class="btn btn-success" type="button"
                ng-if="!isReadonly && !myForm.$invalid" ng-click="ok()">
            Ok
        </button>
        <button class="btn btn-warning" type="button"
                ng-click="cancel()">
            Cancel
        </button>
    </div>
</form>