<form cg-busy="editChatBusyPromise" name="myForm">
    <div class="modal-header modal-edit-chat-header row">
        <h2 class="modal-title" align="center">Edit chat</h2>
    </div>
    <table class="edit-chat-table row">
        <tr>
            <td>
                <div>
                    <blockquote  ng-class="{'dark-grey-border':isReadonly, 'blue-border': !isReadonly }">
                        <img ngf-thumbnail="currentChat.img" class="edit-chat-image" />

                        <input class="edit-chat-image-picker"
                               ng-if="!isReadonly" type="file" ngf-select ng-model="selectedFile"
                               ng-change="processImage(selectedFile)"
                               ngf-pattern="'image/*'"
                               ngf-resize="{width: 200, height: 200}"
                               ngf-accept="'image/*'" ngf-max-size="10MB" />
                    </blockquote>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <blockquote class="dark-grey-border">
                    <h3>
                        Author: <b class="edit-chat-text-identation">{{getAuthor().userName}}</b>
                    </h3>
                </blockquote>
            </td>
        </tr>
        <tr>
            <td>
                <blockquote class="dark-grey-border">
                    <div>
                        <h3>
                            Users: <b class="edit-chat-text-identation">{{currentChat.users.length}}</b>
                        </h3>
                    </div>
                </blockquote>
            </td>
        </tr>
        <tr>
            <td>
                <blockquote class="dark-grey-border">
                    <div>
                        <h3>Creatinon date:</h3>
                    </div>
                    <div class="edit-chat-text-identation">{{currentChat.createDate | date:'short'}}</div>
                </blockquote>
            </td>
        </tr>
    </table>

    <div class="row text-center edit-chat-block-info">
        <h3>Title</h3>
        <input type="text" class="form-control modal-input-identation" required
               ng-class="{'dark-grey':isReadonly, 'blue': !isReadonly }"
               ng-readonly="isReadonly"
               ng-model="currentChat.title"/>
        <div class="text-danger"
             ng-show="myForm.title.$invalid">
            Required
        </div>
        <h3>Users</h3>
        <md-list ng-if="currentChat.users.length > 0" class="edit-chat-user-list pull-left">
            <md-list-item ng-repeat="user in currentChat.users" >
                <img data-ng-controller="ModalController as $ctrl" ng-click="$ctrl.openProfileModal(user)" 
                     alt="{{ user.userName }}" ng-src="{{ user.img }}" class="md-avatar" />
                <p md-truncate class="text-left">{{ user.userName }}</p>
                <md-button aria-label="Remove User"
                           ng-if="currentChat.authorId === currentUser.id && !isReadonly" ng-click="quitChat(user)"
                           class="md-fab md-raised md-mini">
                    <md-tooltip md-direction="bot"> Remove user </md-tooltip>
                    <span class="glyphicon glyphicon-remove"></span>
                </md-button>
            </md-list-item>
        </md-list>
    </div>

    <div class="modal-footer edit-chat-footer row">
        <button class="btn btn-raised btn-success pull-left"
                type="button"
                ng-click="isReadonly = !isReadonly">
            Edit
        </button>
        <button class="btn btn-success" type="button"
                ng-if="!isReadonly && !myForm.$invalid" ng-click="ok()">
            Ok
        </button>
        <button class="btn btn-warning" type="button"
                ng-click="cancel()">
            Cancel
        </button>
    </div>
</form>