<form cg-busy="profileBusyPromise" name="myForm" class="container modal-window">
    <div class="modal-header row">
        <h2 class="modal-title" align="center">Profile</h2>
    </div>
    <div class="row vertical-align">
        <div class="col-md-4">
            <img alt="{{selectedUser.userName}}" 
                 ng-src="{{selectedUser.img}}" class="edit-profile-img">
        </div>
        <div ng-if="!isReadonly" class="col-md-8">
            <input type="file" ngf-select ng-model="selectedFile"
                   ng-change="processImage(selectedFile)"
                   ngf-pattern="'image/*'"
                   ngf-resize="{width: 200, height: 200}"
                   ngf-accept="'image/*'" ngf-max-size="10MB" /><br />
        </div>
    </div>
    <div class="row">
        <h3 class="text-center">Username</h3>
        <input type="text" required
               class="form-control modal-input-identation" ng-readonly="isReadonly"
               ng-class="{'dark-grey':isReadonly, 'blue': !isReadonly }"
               ng-model="selectedUser.userName"
               name="userName" />
        <div class="text-danger" ng-if="myForm.userName.$invalid && myForm.userName.$touched">
            Required
        </div>
    </div>
    <div ng-if="selectedUser.id === currentUser.id" class="row">
        <h3 class="text-center">Password</h3>

        <div>Old</div>
        <input type="password" class="form-control modal-input-identation"
               ng-class="{'dark-grey':isReadonly, 'blue': !isReadonly }"
               ng-readonly="isReadonly" required
               ng-model="selectedUser.oldPassword"
               name="oldPassword" />
        <div class="text-danger" ng-if="myForm.oldPassword.$invalid && myForm.oldPassword.$touched">
            Required
        </div>

        <div>New</div>
        <input type="password" class="form-control modal-input-identation"
               required
               ng-class="{'dark-grey':isReadonly, 'blue': !isReadonly }"
               ng-readonly="isReadonly"
               ng-model="selectedUser.password"
               name="password" />
        <div class="text-danger" ng-if="myForm.password.$invalid && myForm.password.$touched">
            Required
        </div>

        <div>Confirm</div>
        <input type="password" class="form-control modal-input-identation"
               ng-class="{'dark-grey':isReadonly, 'blue': !isReadonly }"
               ng-readonly="isReadonly"
               ng-model="selectedUser.confirmPassword"
               match="selectedUser.password"
               name="confirm" />
        <div class="text-danger" ng-if="myForm.confirm.$error.match">Passwords are not equal</div>
    </div>
    <div class="row">
        <h3 class="text-center">Email</h3>
        <input type="email" class="form-control modal-input-identation" required
               ng-class="{'dark-grey':isReadonly, 'blue': !isReadonly }"
               ng-readonly="isReadonly"
               ng-model="selectedUser.email"
               name="email" />
        <div class="text-danger" ng-if="myForm.email.$error.required && myForm.email.$touched">Required</div>
        <div class="text-danger" ng-if="myForm.email.$error.email">Input valid email</div>
    </div>

    <div class="modal-footer profile-footer">
        <button ng-show="selectedUser.id === currentUser.id && isReadonly"
                class="btn btn-raised btn-success"
                type="button"
                ng-click="isReadonly = !isReadonly">
            Edit
        </button>
        <button class="btn btn-success"
                type="button"
                ng-show="!isReadonly && !myForm.$invalid" ng-click="ok()">
            Ok
        </button>
        <button class="btn btn-warning"
                type="button"
                ng-click="cancel()">
            Cancel
        </button>
    </div>
</form>