<!DOCTYPE html>
<html data-ng-app="chattingApp">
<head>
    <title>Chatting App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />

    <link rel="icon" type="image/x-icon" href="~/Content/images/icon.ico">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/angular-material-min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.ng.min.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body class="container" ng-cloak>
    <div data-ng-controller="NavbarController" class="row">
        <md-nav-bar aria-label="Navigation Bar" md-selected-nav-item="currentNavItem" class="pull-right">
            <md-nav-item ng-if="isLoggedIn()" md-nav-click="logOut()" name="logOut">
                <md-button class="md-accent">Log Out</md-button>
            </md-nav-item>
            <md-nav-item ng-if="!isLoggedIn()" md-nav-sref="login" name="logIn">
                <md-button class="md-accent">Log In</md-button>
            </md-nav-item>
            <md-nav-item ng-if="!isLoggedIn()" md-nav-sref="signup" name="signUp">
                <md-button class="md-accent">Sign Up</md-button>
            </md-nav-item>
        </md-nav-bar>
    </div>

    <div class="row app-view" ui-view>
    </div>

    <!-- 3rd party libraries -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/angular-material.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-local-storage.js"></script>
    <script src="~/Scripts/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/ng-file-upload.js"></script>
    <script src="~/Scripts/angular-validation-match.js"></script>
    <script src="~/Scripts/angular-signalr-hub.min.js"></script>

    <!-- Load app main script -->
    <script src="~/app/app.js"></script>

    <!-- Load services -->
    <script src="~/app/services/authInterceptorService.js"></script>
    <script src="~/app/services/authService.js"></script>
    <script src="~/app/services/messageHubService.js"></script>
    <script src="~/app/services/userService.js"></script>
    <script src="~/app/services/chatService.js"></script>

    <!-- Load controllers -->
    <script src="~/app/controllers/navbarController.js"></script>
    <script src="~/app/controllers/chatController.js"></script>
    <script src="~/app/controllers/chatListController.js"></script>
    <script src="~/app/controllers/loginController.js"></script>
    <script src="~/app/controllers/signupController.js"></script>
    <script src="~/app/controllers/modalController.js"></script>
    <script src="~/app/controllers/profileController.js"></script>
    <script src="~/app/controllers/editChatController.js"></script>
    <script src="~/app/controllers/createChatModalController.js"></script>
    <script src="~/app/controllers/joinChatModalController.js"></script>

    <!-- Load Directives -->
    <script src="~/app/directives/scroll-bottom.js"></script>
</body>
</html>