<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Id="Angular.UI.UI-Router" version="0.4.2" targetFramework="net461" />
  <package Id="angular-busy" version="4.1.4" targetFramework="net461" />
  <package Id="angularjs" version="1.6.10" targetFramework="net461" />
  <package Id="AngularJS.Core" version="1.6.8" targetFramework="net461" />
  <package id="AngularJS.Route" version="1.6.8" targetFramework="net461" />
  <package Id="AngularJs.SignalR.Hub" version="1.6.3" targetFramework="net461" />
  <package Id="angular-local-storage" version="0.7.0" targetFramework="net461" />
  <package Id="Autofac" version="4.2.0" targetFramework="net461" />
  <package Id="Autofac.WebApi2" version="4.1.0" targetFramework="net461" />
  <package Id="AutoMapper" version="6.2.2" targetFramework="net461" />
  <package Id="EntityFramework" version="6.1.0" targetFramework="net461" />
  <package Id="jQuery" version="1.6.4" targetFramework="net461" />
  <package Id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net461" />
  <package Id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net461" />
  <package Id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net461" />
  <package Id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net461" />
  <package Id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" />
  <package Id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package Id="Microsoft.AspNet.SignalR" version="2.2.3" targetFramework="net461" />
  <package Id="Microsoft.AspNet.SignalR.Core" version="2.2.3" targetFramework="net461" />
  <package Id="Microsoft.AspNet.SignalR.JS" version="2.2.3" targetFramework="net461" />
  <package Id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.3" targetFramework="net461" />
  <package Id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package Id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net461" />
  <package Id="Microsoft.AspNet.WebApi.Owin" version="5.2.6" targetFramework="net461" />
  <package Id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.6" targetFramework="net461" />
  <package Id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package Id="Microsoft.Owin" version="4.0.0" targetFramework="net461" />
  <package Id="Microsoft.Owin.Cors" version="4.0.0" targetFramework="net461" />
  <package Id="Microsoft.Owin.Host.HttpListener" version="2.0.2" targetFramework="net461" />
  <package Id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net461" />
  <package Id="Microsoft.Owin.Hosting" version="2.0.2" targetFramework="net461" />
  <package Id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net461" />
  <package Id="Microsoft.Owin.Security.Cookies" version="4.0.0" targetFramework="net461" />
  <package Id="Microsoft.Owin.Security.Facebook" version="3.0.1" targetFramework="net461" />
  <package Id="Microsoft.Owin.Security.Google" version="3.0.1" targetFramework="net461" />
  <package Id="Microsoft.Owin.Security.OAuth" version="4.0.0" targetFramework="net461" />
  <package Id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package Id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package Id="Owin" version="1.0" targetFramework="net461" />
</packages>