
<li>
    <form name="myForm">
        <div class="modal-header">
            <h2 class="modal-title" align="center" id="modal-title">Edit chat</h2>
        </div>
        <br />
        <table>
            <tr>
                <td rowspan="3" style="max-width: 300px;">
                    <div ng-if="uploader.queue.length > 0"
                         class="form-group label-static left-chat-form" style="float: left; margin-left: 10px; ">
                        <ul>
                            <li ng-repeat="item in uploader.queue">
                                <img width="{{item.image.width}}" ng-show="uploader.isHTML5"
                                     style="max-width: 300px;"
                                     ng-thumb="{ file: uploader.queue[0]._file, height: 100 }"
                                     height="{{item.image.height}}"
                                     ng-src="{{item.image.src}}">
                            </li>
                        </ul>
                    </div>
                    <div ng-if="uploader.queue.length === 0" class="form-group label-static left-chat-form"
                         style="float: left; margin-left: 10px">
                        <div ng-show="uploader.queue.length === 0">
                            <img ng-src="{{currentChat.img}}" style="float: left; max-width: 300px; max-height: 300px">
                            <br /><br /><br /><br /><br />
                            <br /><br /><br /><br /><br /><br />
                            <div class="demo-section k-header">
                                <label for="file">
                                    <h2 style="margin-left: 70px; margin-top: 20px; padding-right: 30px"
                                        ng-if="!isReadonly">
                                        Click here...
                                    </h2>
                                </label>

                                <input type="file" id="file" ng-hide="true" nv-file-select uploader="uploader"
                                       height="150" width="150" ng-if="!isReadonly" />
                            </div>
                        </div>
                    </div>
                </td>
                <td style="padding-left: 40px; padding-top: 20px;">
                    <blockquote style="display: inline-block; max-width: 100%;  float: left;  border-left: 5px solid #64b5f6;">
                        <header style="display: inline-block" class="info">
                            <h3>
                                Author: <b class="user" style="margin-left: 10px">Sergiy Lichenko</b>
                            </h3>
                        </header>
                    </blockquote>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 40px;">
                    <blockquote style="display: inline-block; float: left; border-left: 5px solid #64b5f6;">
                        <div style="display: inline-block" class="info">
                            <h3>
                                Users: <b class="user" style="margin-left: 10px">{{currentChat.users.length}}</b>
                            </h3>
                        </div>
                    </blockquote>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 40px;">
                    <blockquote style="display: inline-block;  float: left; border-left: 5px solid #64b5f6;">
                        <div style="display: inline-block" class="info">
                            <h3>Creatinon date:</h3>
                        </div>
                        <footer style="margin-left: 10px">{{currentChat.createDate | date:'short'}}</footer>
                    </blockquote>
                </td>
            </tr>
        </table>

        <br />

        <div align="center" style="margin-left: 10px">
            <h3 style="display: inline-block">Title</h3>
            <input type="text" class="form-control" required
                   style="display: inline-block; font-weight: bold; font-size: 20px" ng-readonly="isReadonly"
                   ng-model="currentChat.title"
                   name="title" />
            <div class="text-danger"
                 ng-show="myForm.userName.$invalid">
                Required
            </div>
            <br />

            <h3 style="display: inline-block">Users</h3><br />
            <div class="form-group">
                <select style="font-weight: bold; font-size: 16px" class="form-control" ng-model="selectedUser" 
                        ng-options="o as o for o in users"></select>
            </div>
            <button ng-if="currentChat.authorName===getCurrentUser()"
                    class="btn btn-raised btn-success"
                    style="float: left; font-size: 15px" type="button"
                    ng-click="quitChat(selectedUser)">
                Delete selected user
            </button>
        </div>
        <br/>
        <br/>
        <br/>
        <br />
        <br/>
       
        <div class="modal-footer">
            <button 
                    class="btn btn-raised btn-success"
                    style="float: left; font-size: 20px" type="button"
                    ng-click="isReadonly = !isReadonly; usernameTemp = user.userName">
                Edit
            </button>
            <button class="btn btn-success" style="font-size: 20px" type="button"
                    ng-if="!isReadonly && !myForm.$invalid" ng-click="ok(currentChat)">
                Ok
            </button>
            <button class="btn btn-warning" style="font-size: 20px" type="button"
                     ng-click="cancel()">Cancel</button>
        </div>
    </form>
</li>
