.hoverwell:hover {
    background-color: #485563 !important;
    cursor: pointer;
}

.container {
    padding-top: 10px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 972px;
    padding-left: 50px;
    background-color: #2b3d4f !important;
}

.auth-div {
    margin-top: 50px;
}

.nav-btn {
    margin-right: 10px;
}

.chatting-app-menu {
    padding-left: 0px;
    padding-right: 0px;
}

.chat-list {
    overflow-y: auto;
    min-height: 95%;
    height: 95%;
}

.last-message-time {
    font-size: 10px;
    line-height: 20px !important;
}

.chat-list-item-title {
    color: white !important;
    font-weight: bold;
}

.chat-list-item-text {
    color: grey !important;
    padding-right: 20px;
}

.image-list-item {
    height: 60px !important;
    width: 60px !important;
}

.join-chat-img {
    height: 150px !important;
    width: 150px !important;
}

.menu-icon {
    z-index: 1000;
}

.chat-header {
    background-color: #0c2136;
    height: 18%;
}

.members-text {
    margin-top: -10px;
}

.chat-image-header {
    width: 80px;
    height: 80px;
}

ul {
    list-style: none;
}

.glyph-size {
    font-size: 25px;
}

.message-title {
    margin-left: 20px;
    margin-top: -8px;
}

.message-text {
    resize: none;
    height: auto;
    font-size: 14px;
    word-wrap: break-word;
}

.message-action-img {
    height: 20px;
    width: 20px;
}

.message-action-btn {
    margin-left: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    margin-top: 5px !important;
}

.message-list {
    overflow-y: auto;
    height: 67%;
}

.input-box {
    background-color: #0c2136;
    height: 15%;
}

.chat-scope {
    height: 100%;
}

.app-view {
    height: 95%;
}

.nav-bar {
    height: 5%;
}

.text-center h3 {
    margin-top: 0px;
}

.input-box-img {
    height: 100px;
    width: 100px;
}

.input-row {
    padding-top: 10px;
    padding-left: 10px;
    position: relative
}

.input-box-text {
    width: 100%;
    resize: none;
}

.input-box-btn {
    position: absolute;
    bottom: 15px;
    right: 10px;
}

.full-width {
    width: 100%;
}

.menu-item {
    margin-top: 4px;
}

md-nav-bar button {
    padding-top: 0px !important;
}

.modal-window {
    max-height: 972px;
}

.join-chat-list {
    width: 100%;
    height: 750px;
    overflow: auto;
}